@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700&family=Noto+Serif:wght@400;700&family=PT+Sans:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.container {
    height: 100%;
}


#game-board {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(23, 20, 177);
    color: #fff;
    padding-left: 70px;
    padding-right: 70px;
    
}

#game-board .mechanics p {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 20px;
}


#game-board .gameplay {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

#game-board .gameplay img {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 90px;
    transition: .9s;
}


#game-board .gameplay img:hover {
    background-color: #fff;
    
}

#game-board .gameplay p {
    text-align: center;
    font-size: 20px;
}

#game-board .score {
    display: flex;
    gap: 50px;
    font-size: 20px;
    border-bottom: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    padding: 7px;
    margin: 40px auto;
    
}

.reset {
    background-color: transparent;
    display: flex;
    color: white;
    padding: 5px;
    margin-bottom: 25px;
    border: 2px solid white;
}
.place-holder {
    font-size: 50px;
    padding: 10px 0;
}

.result {
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.result p {
    margin: 0;
}

.result img {
    width: 60px;
    height: 60px;
}


@media only screen and (max-width: 780px) {
    .place-holder {
        font-size: 30px;
    }
    #game-board .mechanics p {
        font-size: 12px;
    }

    #game-board .gameplay {
        gap: 40px;
    }

    #game-board .gameplay img {
        width: 100%;
    }

    #game-board .gameplay p {
        font-size: 18px;
    }

    .result img {
        width: 40px;
        height: 40px;
    }

    .result {
        font-size: 20px;
    }
}


@media only screen and (max-width: 400px) {
    #game-board .mechanics p {
        font-size: 10px;
    }

    #game-board .gameplay {
        padding: 20px 0;
    }

    .result img {
        width: 30px;
        height: 30px;
    }

    .result {
        font-size: 15px;
    }

    
}